<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="companyList.css"/>
</head>
<body>
<div class="companyListPage">
    <h1 class="companyList">Список компаний</h1>
    <div class="main-content">
        <button type="button" class="btn btn-warning btn-add-company" data-toggle="modal" data-target="#exampleModal">Добавить компанию</button>
        <table class="table companyList-table">
            <thead>
            <tr class="company-list-table-head">
                <th scope="col">Компания</th>
                <th scope="col">Тикер</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>
                    <div class="buttons">
                        <button class="btn btn-warning redact-remove-company">Редактировать</button>
                        |
                        <button class="btn btn-warning redact-remove-company">Удалить</button>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>
                    <div class="buttons">
                        <button class="btn btn-warning redact-remove-company">Редактировать</button>
                        |
                        <button class="btn btn-warning redact-remove-company">Удалить</button>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>
                    <div class="buttons">
                        <button class="btn btn-warning redact-remove-company">Редактировать</button>
                        |
                        <button class="btn btn-warning redact-remove-company">Удалить</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>