.loggOut-button {
    cursor: pointer;
}

.active-link {
    color: rgba(240,185,11,255) !important;
}

.dropdown-menu {
    background-color: rgba(52,58,64,255);
}

.dropdown-item {
    color: white;
}


