<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="quotes.css"/>
</head>
<body>
<div class="quotes-page">
    <h1 class="quotes">Котировки</h1>
    <table class="table quotes-table">
        <thead>
        <tr class="quotes-table-head">
            <th scope="col" class="quotes-table-company-name">Компания</th>
            <th scope="col">Тикер</th>
            <th scope="col">Цена</th>
            <th scope="col">Дата</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row" class="quotes-table-company-name">АК АЛРОСА</th>
            <td>ALRS</td>
            <td>91,94
                <div class="quotes-table-rub">RUB</div>
            </td>
            <td>09.12.20</td>
        </tr>
        <tr>
            <th scope="row" class="quotes-table-company-name">Аэрофлот</th>
            <td>AFLT</td>
            <td>71,82
                <div class="quotes-table-rub">RUB</div>
            </td>
            <td>09.12.20</td>
        </tr>
        <tr>
            <th scope="row" class="quotes-table-company-name">Газпром</th>
            <td>GAZP</td>
            <td>193,30
                <div class="quotes-table-rub">RUB</div>
            </td>
            <td>09.12.20</td>
        </tr>
        <tr>
            <th scope="row" class="quotes-table-company-name">Группа ЛСР</th>
            <td>LSRG</td>
            <td>879,00
                <div class="quotes-table-rub">RUB</div>
            </td>
            <td>09.12.20</td>
        </tr>
        <tr>
            <th scope="row" class="quotes-table-company-name">Детский мир</th>
            <td>DSKY</td>
            <td>138,00
                <div class="quotes-table-rub">RUB</div>
            </td>
            <td>09.12.20</td>
        </tr>
        <tr>
            <th scope="row" class="quotes-table-company-name">ЛУКОЙЛ</th>
            <td>LKOH</td>
            <td>5.315,50
                <div class="quotes-table-rub">RUB</div>
            </td>
            <td>09.12.20</td>
        </tr>
        <tr>
            <th scope="row" class="quotes-table-company-name">М.видео</th>
            <td>MVID</td>
            <td>708,70
                <div class="quotes-table-rub">RUB</div>
            </td>
            <td>09.12.20</td>
        </tr>
        <tr>
            <th scope="row" class="quotes-table-company-name">Магнит</th>
            <td>MGNT</td>
            <td>5.334,00
                <div class="quotes-table-rub">RUB</div>
            </td>
            <td>09.12.20</td>
        </tr>
        <tr>
            <th scope="row" class="quotes-table-company-name">Московская биржа</th>
            <td>MOEX</td>
            <td>164,62
                <div class="quotes-table-rub">RUB</div>
            </td>
            <td>09.12.20</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>