.line {
    display: inline;
}

.string {
    text-align: left;
    float: left;
}

.bold {
    font-weight: bold;
}

.buttons {
    display: inline-block;
    padding-top: 40px;
    float: left;
}

.remove-button-modal {
    display: inline-block;
    margin-left: -635px;
}

.cancel-button-modal {
    display: inline-block;
    margin-left: 5px;
}